body {
  color: #383838;
  font-size: 14px;
}
h2,
h3 {
  color: #878787;
  font-weight: bold;
}
h2 {
  font-size: 21px;
}
h2.page-heading {
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  color: #2693ff;
}
h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
i[mw-confirm-click]:hover,
i[onclick]:hover {
  color: #2693ff;
  cursor: pointer;
}
.static-content h1 {
  background-color: #555;
  margin-top: 0px;
  padding: 40px 0px;
  box-shadow: 0px 0px 20px gray;
  margin-bottom: 0px;
  color: white;
}
.static-content h1 button {
  font-weight: bold;
  text-transform: uppercase;
}
.static-content p {
  margin-bottom: 1.3em;
  line-height: 1.7em;
  color: #555;
  font-size: 16px;
}
.static-content p.alert {
  color: white;
}
.subbar .workflow {
  overflow-x: hidden;
  overflow-y: auto;
  width: 350px;
  bottom: 0px;
  padding-right: 10px;
  padding-top: 20px;
  top: 130px;
}
.subbar .workflow .workflow-item {
  margin-left: 35px;
}
.subbar .workflow .item-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.subbar .bottom50 {
  position: fixed;
  bottom: 0px;
  width: 350px;
  height: 50px;
}
.subbar .gray {
  padding: 8px 20px;
  background-color: #eee;
  color: #999;
  font-size: 95%;
  box-shadow: inset 0px 2px 3px #ddd;
}
.workflow {
  /*
    .workflow-item:last-child {
        margin-left: 0px;
        padding-left: 0px;
    }
    */
}
.workflow .workflow-item {
  margin-left: 20px;
  padding-bottom: 25px;
  padding-left: 35px;
  position: relative;
  color: #666;
}
.workflow .workflow-item .item-header .item-header-addon {
  position: relative;
  left: -23px;
  top: -4px;
}
.workflow .workflow-item .item-header .item-header-badge {
  display: block;
  position: absolute;
  top: -8px;
  left: -21px;
  transition: background-color 1s;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  background-color: #ddd;
  color: #aaa;
  /*border: 1px solid #ccc;*/
}
.workflow .workflow-item .workflow-detail {
  margin-bottom: 0px;
  font-size: 12px;
}
.workflow .workflow-item.active {
  color: #2693ff;
}
.workflow .workflow-item.active .item-header-badge {
  color: white;
  background-color: #2693ff;
}
.workflow .workflow-item .item-header-status .item-header-badge,
.workflow .workflow-item .item-header-status .item-header-task {
  color: white;
  background-color: #aaa;
}
.workflow .workflow-item .item-header-status-finished .item-header-badge,
.workflow .workflow-item .item-header-status-finished .item-header-task {
  background-color: #43ac6a;
}
.workflow .workflow-item .item-header-status-running .item-header-badge,
.workflow .workflow-item .item-header-status-running .item-header-task {
  background-color: #5bc0de;
}
.workflow .workflow-item .item-header-status-failed .item-header-badge,
.workflow .workflow-item .item-header-status-failed .item-header-task {
  background-color: #f04124;
}
.workflow .workflow-item:not(:last-child) {
  border-left: 1px solid #ddd;
}
/*to give brain-life title*/
.subbar-content .workflow .workflow-item .item-header {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.margin30 {
  margin: 0px 20px;
}
/*use animate.css*/
/*
.animate-submit.ng-enter {
    animation: fadeIn 1s; 
}
.animate-submit.ng-leave {
    animation: fadeOut 1s; 
}
*/
.form-section.ng-enter {
  animation: fadeIn 0.2s;
}
.form-section.ng-leave {
  animation: fadeOut 0.2s;
}
.start-button {
  margin: 8px 20px;
}
.step-badge {
  display: inline-block;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  background-color: #ddd;
  color: #aaa;
}
vtkview {
  width: 100%;
  height: 250px;
  display: block;
}
vtkview canvas {
  background-color: #333;
  box-shadow: inset 0 0 15em #000;
}
#conview {
  width: 100%;
  height: 400px;
}
#conview canvas {
  background-color: #333;
  box-shadow: inset 0 0 15em #000;
}
@media screen and (max-width: 1000px) {
  .sca-sidebar-page #conview {
    height: 300px;
  }
  .sca-sidebar-page .subbar-content {
    margin-top: 50px;
  }
  .page-buttons {
    margin-top: 0px;
  }
}
.clickable:hover {
  cursor: pointer;
}
.fixed-top-under {
  padding-top: 120px;
}
.file-upload {
  border: 1px solid #ddd;
  border-right: 40px solid #ddd;
}
.file {
  margin-top: 5px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd;
}
.file .file-type {
  border-right: 1px solid #eee;
  padding: 10px;
  margin-right: 10px;
  bottom: 0px;
}
.file .file-detail {
  padding: 10px;
  min-height: 40px;
}
.file:hover {
  background-color: #eee;
  color: #2693ff;
  cursor: pointer;
}
.fixed-top,
.sca-sidebar {
  top: 50px;
}
.sca-sidebar-page .subbar {
  top: 50px;
}
.sca-sidebar-page .subbar .subbar-list {
  top: 179px;
}
.page-header {
  position: fixed;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  background-color: #159957;
  background-image: linear-gradient(120deg, #2693ff, #159957);
  color: white;
  z-index: 10;
}
.page-header h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 27px;
  margin: 4px 37px;
  padding: 0px;
  font-weight: bold;
  line-height: 1.5;
  width: 200px;
}
.page-header .profile {
  opacity: 0.8;
  font-size: 18px;
  padding: 12px;
  color: white;
  font-weight: bold;
}
.page-header a {
  text-decoration: none;
  color: inherit;
}
