'use strict';

angular.module('app.config', [])
.constant('appconf', {

    debug: true,

    shared_api: '/api/shared',
    shared_url: '/shared',
    
    auth_api: '/api/auth',
    auth_url: '/auth',

    wf_api: '/api/wf',
    sca_api: '/api/wf', //to be deprecated - but a lot of ng components still uses this!

    event_api: '/api/event',
    
    progress_api: '/api/progress',
    progress_url: '/progress',

    jwt_id: 'jwt',

    upload_task_id: "_upload", //task used to store files uploaded by sca-wf-uploader

    //task to terminate
    terminal_task: "afq", 
    //terminal_task: "life", 
    //terminal_task: "dtiinit", 
    //terminal_task: "tracking", 
    //terminal_task: "eval", 
    //terminal_task: "network", 
    //terminal_task: "freesurfer",  //aka cortex?
    //terminal_task: "o3d", 
    
    //required inputs
    inputs: {
        t1: true,
        dwi: true,
    },

    //instance specific lables around UI
    labels: {
        homeurl: "https://dev1.soichi.us",
        appicon: "fa-flask",
        title: "Development", //used as title and also notification email subject
        purpose: "Submit process to analyze your diffusion data and provide quantitative estimates of connectome quality",
    },

    //default config to use. This also determine which service has configuration to select
    default_config: {
        tracking: {
            /*
            lmax: 8,
            fibers: 500000,  
            fibers_max: 1000000,  
            */
            fibers: 60000,  
            fibers_max: 100000,  
        },
        life: {
            discretization: 360,  
            num_iteration: 500,  
        }
    },

    //the initial resource should run on certain resource that has sample data accessible
    //input_default_resource: "575ee815b62439c67b693b85", //karst (brain-life)

    samples: {
        sample1: {
            name: "STN.sub-FP.run01_fliprot_aligned_trilin",
            desc: "Diffusion imaging data from the Stanford Data set (http://purl.stanford.edu/cs392kv3054).",
            files: {
                t1: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/anatomy/t1.nii.gz",
                dwi: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/dwi/run01_fliprot_aligned_trilin.nii.gz",
                bvecs: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/dwi/run01_fliprot_aligned_trilin.bvecs",
                bvals: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/dwi/run01_fliprot_aligned_trilin.bvals",
            }
        },
        sample2: {
            name: "STN.sub-FP.run02_fliprot_aligned_trilin",
            desc: "Diffusion imaging data from the Stanford Data set (http://purl.stanford.edu/cs392kv3054).",
            files: {
                t1: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/anatomy/t1.nii.gz",
                dwi: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/dwi/run02_fliprot_aligned_trilin.nii.gz",
                bvecs: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/dwi/run02_fliprot_aligned_trilin.bvecs",
                bvals: "/N/u/hayashis/Karst/testdata/demo_data_encode/STN/sub-FP/dwi/run02_fliprot_aligned_trilin.bvals",
            } 
        },
        sample3: {
            name: "lifebid/2t1/HCP/110411",
            desc: "Sample data from IU lifebid/2t1",
            files: {
                t1: "/N/u/hayashis/Karst/testdata/samples/sample3/anatomy/T1w_acpc_dc_restore_1p25.nii.gz",
                dwi: "/N/u/hayashis/Karst/testdata/samples/sample3/diffusion_data/dwi_data_b2000.nii.gz",
                bvecs: "/N/u/hayashis/Karst/testdata/samples/sample3/diffusion_data/dwi_data_b2000.bvecs",
                bvals: "/N/u/hayashis/Karst/testdata/samples/sample3/diffusion_data/dwi_data_b2000.bvals",
            } 
        }
    },

    //used for debugging
    sample_urls: {
        diff: [
            {
                name: "Test data from Franco. lifebid/110411/diffusion_data",
                url: "http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.nii.gz"
            },
        ],
        bvals: [
            {
                name: "Test data from Franco. lifedemo",
                url: "http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvals"
            },
        ],
        bvecs: [
            {
                name: "Test data from Franco. lifedemo",
                url: "http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvecs"
            },
        ],
        mask: [
            {
                name: "Test data from Franco. lifebid/110411/anatomy",
                url: "http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/wm_mask.nii.gz"
            },
        ] 
    }
});

