<div class="fixed-top static-content" style="left: 0px; right: 0px;">
    <h1>
        <div class="container">
            Connectome Evaluator
            <button type="button" class="btn btn-primary pull-right start-button" ng-click="openpage('submit')">Start</button>
        </div>
    </h1>
</div>
<div class="container" style="margin-top: 160px">
    <div class="static-content">
        <br>
        <img src="img/brainmodel_a.png" style="height: 100px;">
        <img src="img/brainmodel_b.png" style="height: 100px;">
        <img src="img/tracts.png" style="height: 100px;">
        <br>
        <br>
        <p>
            Brain tractography uses diffusion-weighted MRI measurements from living humans to generate large collections of white-matter fascicles; the connectome. 
            <strong>connectome</strong> mapped in individual brains can be used to study the properties of the human brain connections as well as those of the white matter tissue. 
            These properties can be used to chart variability across individuals for multiple biological processes, such as development, aging as well as disease progression. 
        </p>

        <p>
            To date, several tractography methods and diffusion data types exist and often times investigators have <strong>no principled ways</strong> to choose among the many options. 
        </p>
        <br>
        <br>

        <img src="img/comparison.png" align="left" style="width: 350px; margin-right: 30px;">

        <p>
            We provide a few quantitative estimates of <strong>connectome</strong> quality, given a sample data set provided by an investigator.
        </p>

        <p>
        This service takes as input <span class="label label-default">Diffusion-weighted MRI data (DWI)</span> and <span class="label label-default">T1-weighted anatomical data</span> and returns as output a full brain <strong>connectome</strong> mapped with modern tractography methods. In addition to that it also returns a few quantitative measures of to inform the investigator that colelcted the data the quality of the expected results that can be achived with such data. We compare the results to those optained with a few sample subjects from the human <strong>connectome</strong> data, the Stanford data set.
        </p>

        <br clear="both">
        <br>
        <br>
        <br>
        <center>
            <button type="button" class="btn btn-lg btn-primary" ng-click="openpage('submit')">Start</button>
        </center>
        <br>
        <br>
        <br>

        <ng-include src="'t/footer.html'"></ng-include>
    </div>
</div>
<script>
setTimeout(function() {
    $(".start-button").addClass("animated wobble");
}, 5000);
</script>

<!--
##<p><code></code> or
##            <span class="label label-default">labeles</span>. We can also use all the fontawesome icons like
##            <i class="fa fa-font-awesome" aria-hidden="true"></i>
##        </p>
##         <blockquote>
##            <p>You can also use blockquote.</p>
##            <p>Mollit esse tempor qui labore nulla culpa esse proident minim culpa sit id.
##            Sit do aute enim consectetur deserunt ipsum sunt in non ullamco nisi
##            cillum consequat sunt ea pariatur.</p>
##        </blockquote>
-->
