<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 25px;">
            <h2>Submit</h2>
            <p class="help-block">Guide you through submitting connectome evaluator</p>
        </div>
        <hr style="margin: 0px;">

        <div class="workflow">
            <div class="workflow-item" ng-class="{active: step == 'diffusion'}" ng-click="openpage('/submit/diffusion')">
                <div class="item-header"><span class="item-header-badge">1</span> Enter Your Data</div>
                <p class="workflow-detail">Upload your anatomy and diffusion data and validate them to make sure that we can run connectome evaluator.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'validate'}" ng-click="openpage('/submit/validate')">
                <div class="item-header"><span class="item-header-badge">2</span> Validate Data</div>
                <p class="workflow-detail">Run data validataion steps to make sure that your data is ready to be processed.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'configure'}" ng-click="openpage('/submit/configure')">
                <div class="item-header"><span class="item-header-badge">3</span> Configure</div>
                <p class="workflow-detail">Configure parameters used by various tasks for your connectome evaluator workflow.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'submit'}" ng-click="openpage('/submit/submit')">
                <div class="item-header"><span class="item-header-badge">4</span> Submit</div>
                <p class="workflow-detail">Finally, submit your request to be processed on our computer. It should normally take about a few hours, and we will send you an email once processing is completed.</p>
            </div>
        </div><!--workflow-->

    </div><!--subbar-->
    <div class="subbar-content">
        <div class="margin30 animate-submit" ng-if="step == 'diffusion'">
            <form ng-submit="openpage('/submit/validate')" class="form-horizontal">
                <div class="fixed-top">
                    <!--
                    <h2>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;

                        <div class="pull-right">
                            <button type="button" class="btn" ng-click="back()">Back</button>
                            <button type="submit" class="btn btn-primary" ng-show-dis="form.dwi">Next</button>
                        </div>
                    </h2>
                    -->
                    <h2 class="page-heading">Enter You Data</h2>
                </div>
                <div style="padding-top: 70px;">
                    <!--<p class="help-block">Let's start by preparing your diffusion data. Diffusion data is ...brah.. </p>-->
                    <h3 style="margin-top: 0px;">Name</h3>
                    <input type="text" class="form-control" ng-model="form.name" placeholder="Name for this evaluation" required></input>

                    <!--
                    <h3>Input Method</h3>
                    <div class="radio"> 
                        <label><input type="radio" ng-model="form.method" value="upload">Upload from my computer
                            <p class="help-block">You can only upload data files up to 2G in size.</p>
                        </label>
                    </div>
                    <div class="radio"> 
                        <label><input type="radio" ng-model="form.method" value="url">Load from public URL
                            <p class="help-block">Use diffusion data publically available via a web URL.</p>
                        </label>
                    </div>
                    <div class="radio"> 
                        <label><input type="radio" ng-model="form.method" value="sample">Use sample data</label>
                    </div>
                    -->

                    <div class="form-section">
                        <h3>Data Format</h3>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="ind">Anatomy(.nii.gz) / Diffusion(.dwi.nii.gz) / bvecs / bvals</label>
                        </div>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="bids">BIDS - Brain Imaging Data Structure(.tar)</label>
                        </div>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="sample">Use sample data</label>
                        </div>
                    </div>

                    <div ng-if="form.datatype == 'sample'" class="form-section">
                        <h3>Sample Data</h3>
                        <p class="help-block">Please choose sample data</p>
                        <div class="radio" ng-repeat="(sample_id, sample) in appconf.samples">
                            <label><input type="radio" ng-model="form.sample" value="{{sample_id}}" ng-change="select_sample()">
                                {{sample.name}}
                                <p class="help-block">{{sample.desc}}</p>
                                <!--<pre>{{sample.files|json}}</pre>-->
                            </label>
                        </div>
                    </div>

                    <div ng-if="form.datatype == 'bids'" class="form-section">
                        <h3>BIDS (.tar)</h3>     
                        <p class="alert alert-warning">TODO - not yet implemented</p>
                        <!--
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'bids'" ngfpattern="'.tar'" tasks="$parent.tasks"></transfer_ui>
                        -->
                    </div>

                    <div ng-if="form.datatype == 'ind'" class="form-section">
                        <h3>ANATOMY</h3>
                        <h4>T1 (.NII.GZ)</h4>
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'t1'" ngfpattern="'.nii.gz'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/t1.nii.gz</p>

                        <hr>

                        <h3>Diffusion</h3>
                        <h4>DWI (.nii.gz)</h4>     
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'dwi'" ngfpattern="'.nii.gz'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.nii.gz</p>

                        <h4>bvecs (.bvecs)</h4>     
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'bvecs'" ngfpattern="'.bvecs'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvecs</p>

                        <h4>bvals (.bvals)</h4>     
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'bvals'" ngfpattern="'.bvals'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvals</p>
                    </div>
                </div><!--container-->

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>

        <div class="margin30 animate-submit" ng-if="step == 'validate'">
            <form ng-submit="openpage('/submit/configure')" class="form-horizontal">
                <div class="fixed-top">
                    <!--
                    <h2>
                        <br>
                        <div class="pull-right">
                            <button type="button" class="btn" ng-click="back()">Back</button>
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                    </h2>
                    -->
                    <h2 class="page-heading">Validate Data</h2>
                </div>
                <div style="padding-top: 70px;">
                    <div ng-switch="tasks[validation_task_id].status">
                        <div ng-switch-when="finished">
                            <p class="bg-warning" style="padding: 10px;" 
                                ng-repeat="warning in tasks[validation_task_id].products[0].results.warnings">
                                <b><i class="fa fa-exclamation text-warning" aria-hidden="true"></i> {{warning}}</b>
                            </p>
                            <p class="bg-danger" style="padding: 10px;" 
                                ng-repeat="error in tasks[validation_task_id].products[0].results.errors">
                                <b><i class="fa fa-exclamation" aria-hidden="true"></i> {{error}}</b>
                            </p>
                            <p class="bg-success" style="padding: 10px;"
                                ng-if="tasks[validation_task_id].products[0].results.warnings.length == 0 &&
                                    tasks[validation_task_id].products[0].results.errors.length == 0">
                                Congratulations! Your data passed all of our checks. Please proceed.
                            </p>
                        </div>
                        <div ng-switch-when="failed">
                            <p class="bg-danger" style="padding: 10px">
                                <i class="fa fa-exclamation" aria-hidden="true"></i> Validation Failed
                            </p>
                            <p>{{tasks[validation_task_id].status_msg}}</p>
                        </div>
                        <div ng-switch-default>
                            <h3><strong> <i class="fa fa-cog fa-spin" aria-hidden="true"></i></strong> Validating ... </h3>
                        </div>

                        <!--
                        <button class="btn btn-xs" type="button"
                            ng-if="tasks[validation_task_id].products[0].results.t1_mrinfo && !tasks[validation_task_id].show_mrinfo" 
                            ng-click="tasks[validation_task_id].show_mrinfo = true">
                            <i class="fa fa-caret-right" aria-hidden="true"></i> Show mrinfo
                        </button>
                        -->
                        
                    </div>

                    <div ng-if="tasks[validation_task_id].products[0].results.t1_mrinfo">
                        <h3>T1 mrinfo</h3>
                        <pre>{{tasks[validation_task_id].products[0].results.t1_mrinfo}}</pre>
                        <!--- I think pre looks better actually.. 
                        <div ui-ace="{mode: 'text'}" ng-model="tasks[validation_task_id].products[0].results.t1_mrinfo" 
                            style="height: 200px" readonly></div>
                        </div>
                        -->
                        <h3>DWI mrinfo</h3>
                        <pre>{{tasks[validation_task_id].products[0].results.dwi_mrinfo}}</pre>
                    </div>

                    <div class="well">
                        <p>We perform validation including following items..</p>
                        <ul class="help-block">
                            <li>All required input files are entered</li>
                            <li>Make sure mrinfo runs successfully on specified dwi file</li>
                            <li>Make sure dwi is 4d</li>
                            <li>Maise warning if dwi transformation matrix isn't unit matrix (identity matrix)</li>

                            <li>Make sure mrinfo runs successfully on specified t1 file</li>
                            <li>Make sure t1 is 3d</li>
                            <li>Check to see t1 transformation matrix isn't unit matrix (identity matrix)</li>
                        
                            <li>Make sure bvecs and bvals can be read</li>
                            <li>Make sure bvecs's cols count matches dwi's 4th dimension number</li>
                            <li>Make sure bvecs has 3 rows</li>
                            <li>Make sure bvals's cols count matches dwi's 4th dimension number</li>
                            <li>Make sure bvals has 1 row</li>
                        </ul>
                    </div>
                </div>

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div><!--margin30-->

        <div class="margin30 animate-submit" ng-if="step == 'configure'">
            <form ng-submit="openpage('/submit/submit')" class="form-horizontal">
                <div class="fixed-top">
                    <!--
                    <h2>
                        <br>
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <div class="pull-right">
                            <button type="button" class="btn" ng-click="back()">Back</button>
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                    </h2>
                    -->
                    <h2 class="page-heading">Configure</h2>
                </div>
                <div style="padding-top: 70px;">
                    <p class="help-block">Please specify configuration used to run your evaluation.</p>
                    <br>
                    <h3 style="margin-top: 0px;">Streamlines Tracking</h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Number of Tracks</b>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="form.config.tracking.fibers" required></input>
                        </div>
                        <div class="col-sm-6">
                            <p class="help-block"><code>mrtrix/streamtrack -number</code> Set the desired number of tracks. The program will continue to generate tracks until this number of tracks have been selected and written to the output file (default is 100 for *_STREAM methods, 1000 for *_PROB methods).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Maximum Number of Tracks</b>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="form.config.tracking.fibers_max" required></input>
                        </div>
                        <div class="col-sm-6">
                            <p class="help-block"><code>mrtrix/streamtrack -maxnum</code> Set the maximum number of tracks to generate. The program will not generate more tracks than this number, even if the desired number of tracks hasn't yet been reached (default is 100 x number). Specifying zero for this option removes any limit - the algorithm will keep generating tracks until the number required has been reached.</p>
                        </div>
                    </div>

                    <h3 style="margin-top: 0px;">Life</h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Discretization Parameter</b>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="form.config.life.discretization" required></input>
                        </div>
                        <div class="col-sm-6">
                            <p class="help-block"><code>life/feConnectomeInit</code> This parameter defines the resolution of the Phi tensor in describing the orientation of the fascicles in the connectome (number of orientations encoded in Phi, more specifically the size of Phi in mode 1).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Number of Iteration</b>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" class="form-control" ng-model="form.config.life.num_iteration" required></input>
                        </div>
                        <div class="col-sm-6">
                            <p class="help-block"><code>life/feFitModel</code> TODO.. explain</p>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
        <div class="margin30 animate-submit" ng-if="step == 'submit'">
            <form ng-submit="submit()" class="form-horizontal">
                <div class="fixed-top">
                    <h2 class="page-heading">Submit</h2>
                </div>
                <p>We are now ready to submit your connectome evaluation process. Please verify information below and click submit button.</p>

                <h3>Name</h3>
                <p><i>{{form.name}}</i></p>
                <submitdetail detail="form"></submitdetail>
                
                <h3>Processing Time</h3>
                <p>Once submitted, the process should take about a day, and you will receive a notification once all processing is completed.</p>

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <div class="margin30">
            <h4>Debug</h4>
            <pre>{{form|json}}</pre>
            <h5>Validation</h5>
            <pre>{{$parent.tasks[validation_task_id]|json}}</pre>
            <h5>Finalize</h5>
            <pre>{{$parent.tasks[form.data_task_id]|json}}</pre>
        </div>
    </div>
</div>
