<h3 style="margin-top: 0px;">Input Files</h3> 
<div ng-if="detail.t1">
    <h4>Anatomy</h4>
    <code>{{detail.t1}}</code><br>
</div>
<div ng-if="detail.dwi">
    <h4>DWI</h4>
    <code>{{detail.dwi}}</code><br>
    <code>{{detail.bvecs}}</code><br>
    <code>{{detail.bvals}}</code><br>
</div>

<div ng-if="!isEmpty(detail.config)">
    <h3>Configuration</h3>
    <div class="row">
        <div class="col-md-6" ng-if="detail.config.life">
            <h4>Life</h4>
            <pre><small>{{detail.config.life|json}}</small></pre>
        </div>
        <div class="col-md-6" ng-if="detail.config.tracking">
            <h4>Tracking</h4>
            <pre><small>{{detail.config.tracking|json}}</small></pre>
        </div>
    </div>
</div>
