<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 25px;">
            <h2>Submit</h2>
            <p class="help-block">Guide you through submitting connectome evaluator</p>
        </div>
        <hr style="margin: 0px;">

        <div class="workflow">
            <div class="workflow-item" ng-class="{active: step == 'diffusion'}" ng-click="openpage('/submit/diffusion')">
                <div class="item-header"><span class="item-header-badge">1</span> Enter Your Data</div>
                <p class="workflow-detail">Upload your anatomy and diffusion data and validate them to make sure that we can run connectome evaluator.</p>
            </div>
            <!--
            <div class="workflow-item" ng-class="{active: step == 'anatomy'}" ng-click="openpage('/submit/anatomy')">
                <div class="item-header"><span class="item-header-badge">2</span> Enter Anatomy Data</div>
                <p class="workflow-detail">Mollit esse tempor qui labore nulla culpa esse proident minim culpa sit id. Sit do aute enim consectetur deserunt ipsum sunt in non ullamco nisi cillum consequat sunt ea pariatur.</p>
            </div>
            -->
            <div class="workflow-item" ng-class="{active: step == 'configure'}" ng-click="openpage('/submit/configure')">
                <div class="item-header"><span class="item-header-badge">2</span> Configure</div>
                <p class="workflow-detail">Mollit esse tempor qui labore nulla culpa esse proident minim culpa sit id. Sit do aute enim consectetur deserunt ipsum sunt in non ullamco nisi cillum consequat sunt ea pariatur.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'submit'}" ng-click="openpage('/submit/submit')">
                <div class="item-header"><span class="item-header-badge">3</span> Submit</div>
                <p class="workflow-detail">Finally, submit your request to be processed on our computer. It should normally take about a few hours, and we will send you an email once processing is completed.</p>
            </div>
        </div><!--workflow-->

    </div><!--subbar-->
    <div class="subbar-content">
        <div class="margin30 animate-submit" ng-if="step == 'diffusion'">
            <form ng-submit="openpage('/submit/configure')" class="form-horizontal">
                <div class="fixed-top container" style="padding-left: 455px;">
                    <h2>
                        <br>
                        <!--
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        -->

                        <div class="pull-right">
                            <button type="button" class="btn" ng-click="back()">Back</button>
                            <button type="submit" class="btn btn-primary" ng-show-dis="form.dwi">Next</button>
                        </div>
                    </h2>
                    <h2 class="page-heading">Enter You Data</h2>
                </div>
                <div style="padding-top: 110px;">
                    <!--<p class="help-block">Let's start by preparing your diffusion data. Diffusion data is ...brah.. </p>-->
                    <h3>Name</h3>
                    <input type="text" class="form-control" ng-model="form.name" placeholder="Name for this evaluation" required></input>

                    <!--
                    <h3>Input Method</h3>
                    <div class="radio"> 
                        <label><input type="radio" ng-model="form.method" value="upload">Upload from my computer
                            <p class="help-block">You can only upload data files up to 2G in size.</p>
                        </label>
                    </div>
                    <div class="radio"> 
                        <label><input type="radio" ng-model="form.method" value="url">Load from public URL
                            <p class="help-block">Use diffusion data publically available via a web URL.</p>
                        </label>
                    </div>
                    <div class="radio"> 
                        <label><input type="radio" ng-model="form.method" value="sample">Use sample data</label>
                    </div>
                    -->

                    <div class="form-section">
                        <h3>Data Format</h3>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="sample">Use sample data</label>
                        </div>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="bids">BIDS (.tar)</label>
                        </div>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="ind">Anatomy(.nii.gz) / Diffusion(.dwi.nii.gz) / bvecs / bvals</label>
                        </div>
                    </div>

                    <div ng-if="form.datatype == 'sample'" class="form-section">
                        <h3>Sample Data</h3>
                        <p class="help-block">Please choose sample data</p>
                        <div class="radio" ng-repeat="(sample_id, sample) in samples">
                            <label><input type="radio" ng-model="form.sample" value="{{sample_id}}" ng-change="select_sample()">
                                {{sample.name}}
                                <p class="help-block">{{sample.desc}}</p>
                                <!--<pre>{{sample.files|json}}</pre>-->
                            </label>
                        </div>
                    </div>

                    <div ng-if="form.datatype == 'bids'" class="form-section">
                        <h3>BIDS (.tar)</h3>     
                        <p class="alert alert-warning">TODO - not yet implemented</p>
                        <!--
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'bids'" ngfpattern="'.tar'" tasks="$parent.tasks"></transfer_ui>
                        -->
                    </div>

                    <div ng-if="form.datatype == 'ind'" class="form-section">
                        <h3>ANATOMY/T1 (.NII.GZ)</h3>
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'t1'" ngfpattern="'.nii.gz'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/t1.nii.gz</p>

                        <h3>DWI (.nii.gz)</h3>     
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'dwi'" ngfpattern="'.nii.gz'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.nii.gz</p>

                        <h3>bvecs (.bvecs)</h3>     
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'bvecs'" ngfpattern="'.bvecs'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvecs</p>

                        <h3>bvals (.bvals)</h3>     
                        <transfer_ui form="form" instance="instance" resources="resources"
                            id="'bvals'" ngfpattern="'.bvals'" tasks="$parent.tasks"></transfer_ui>
                        <p class="help-block">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvals</p>
                    </div>
                </div><!--container-->
            </form>
        </div>
        <div class="margin30 animate-submit" ng-if="step == 'configure'">
            <form ng-submit="openpage('/submit/submit')" class="form-horizontal">
                <div class="fixed-top container" style="padding-left: 455px;">
                    <h2>
                        <br>
                        <!--
                        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                        -->

                        <div class="pull-right">
                            <button type="button" class="btn" ng-click="back()">Back</button>
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                    </h2>
                    <h2 class="page-heading">Configure</h2>
                </div>
                <div style="padding-top: 110px;">
                    <p class="help-block">Please specify configuration used to run your evaluation.</p>
                    <br>
                    <div class="row">
                    <div class="col-md-3">
                        <h3 style="margin-top: 0px;">Tracking</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <b>Fibers</b>
                                <p class="help-block">TODO.. explain</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="form.config.tracking.fibers" required></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <b>Max Fibers</b>
                                <p class="help-block">TODO.. explain</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="form.config.tracking.fibers_max" required></input>
                            </div>
                        </div>
                        <hr>
                    </div><!--col-md-9-->
                    </div><!--row-->
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 style="margin-top: 0px;">Life</h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-6">
                                <b>Discretization</b>
                                <p class="help-block">TODO.. explain</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="form.config.life.discretization" required></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <b>Number of Iteration</b>
                                <p class="help-block">TODO.. explain</p>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="form.config.life.num_iteration" required></input>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="margin30 animate-submit" ng-if="step == 'submit'">
            <form ng-submit="submit()" class="form-horizontal">
                <h2>
                    <br>
                    <!--
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    -->

                    <div class="pull-right">
                        <button type="button" class="btn" ng-click="back()">Back</button>
                        <!--<button type="submit" class="btn btn-primary">Next</button>-->
                    </div>
                </h2>
                <h2 class="page-heading">Submit</h2>
                <h2><i>{{form.name}}</i></h2>
                <p>We are now ready to submit your connectome evaluation process. Please verify information below and click submit button.</p>
                <submitdetail detail="form"></submitdetail>
                
                <h3>Processing Time</h3>
                <p>Once submitted, the process should take about a day, and you will receive a notification once all processing is completed.</p>

                <hr>
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        </div>

        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <div class="margin30">
            <h4>Debug</h4>
            <pre>{{form|json}}</pre>
        </div>
    </div>
</div>
