<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 25px; padding-right: 10px;">
            <h2><!--<i class="fa {{appconf.labels.appicon}}"/> -->{{appconf.labels.title}}</h2>
            <p class="help-block" style="line-height: 170%;">{{appconf.labels.purpose}}</p>
        </div>
        <hr style="margin: 0px">

        <div class="workflow" style="top: 125px;">
            <div class="workflow-item" ng-class="{active: step == 'diffusion'}" ng-click="openpage('/submit/diffusion')">
                <div class="item-header"><span class="item-header-badge">1</span> Enter Your Data</div>
                <p class="workflow-detail">Upload or transfer-in data you'd like to process.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'validate'}" ng-click="openpage('/submit/validate')">
                <div class="item-header"><span class="item-header-badge">2</span> Validate Data</div>
                <p class="workflow-detail">Run data validataion steps to make sure that your data is ready to be processed.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'configure'}" ng-click="openpage('/submit/configure')">
                <div class="item-header"><span class="item-header-badge">3</span> Configure</div>
                <p class="workflow-detail">Configure parameters used by various services.</p>
            </div>
            <div class="workflow-item" ng-class="{active: step == 'submit'}" ng-click="openpage('/submit/submit')">
                <div class="item-header"><span class="item-header-badge">4</span> Submit</div>
                <p class="workflow-detail">Finally, confirm your input files and configuration before starting your process.</p>
            </div>
        </div><!--workflow-->

    </div><!--subbar-->
    <div class="subbar-content">
        <div class="margin30 animate-submit" ng-if="step == 'diffusion'">
            <form ng-submit="openpage('/submit/validate')" class="form-horizontal">
                <div class="fixed-top">
                    <h2 class="page-heading">Enter Your Data</h2>
                </div>

                <div class="fixed-top-under">
                    <p ng-if="!resources.sca_product_raw" class="alert alert-danger">
                        Backend computing resource is currently not available (maybe maintenance day?) You may not be able to submit new task
                    </p>
                    <h3 style="margin-top: 0px;">Name</h3>
                    <input type="text" class="form-control" ng-model="form.name" placeholder="Name for this process" required></input>

                    <div class="form-section">
                        <h3>Data Format</h3>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="ind">Upload / Transfer Files Individually</label>
                        </div>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="bids">BIDS - Brain Imaging Data Structure(.tar)</label>
                        </div>
                        <div class="radio"> 
                            <label><input type="radio" ng-model="form.datatype" value="sample">Use sample data</label>
                        </div>
                    </div>

                    <div ng-if="form.datatype == 'sample'" class="form-section">
                        <h3>Sample Data</h3>
                        <p class="help-block">Please choose sample data</p>
                        <div class="radio" ng-repeat="(sample_id, sample) in appconf.samples">
                            <label><input type="radio" ng-model="form.sample" value="{{sample_id}}" ng-change="select_sample()">
                                {{sample.name}}
                                <p class="help-block">{{sample.desc}}</p>
                                <!--<pre>{{sample.files|json}}</pre>-->
                            </label>
                        </div>
                    </div>

                    <div ng-if="form.datatype == 'bids'" class="form-section">
                        <h3>BIDS (.tar)</h3>     
                        <p class="alert alert-warning">TODO - not yet implemented</p>
                    </div>

                    <!--
                    <div ng-if="form.datatype == 'ind' && !resources.upload" class="form-section">
                        <p alert="alert alert-danger">Backend computing resource is currently not available.</p>
                    </div>
                    -->
                    <div ng-if="form.datatype == 'ind'" class="form-section">
                        <div ng-if="appconf.inputs.t1">
                            <h3>ANATOMY</h3>
                            <h4>T1 (.NII.GZ)</h4>
                            <transfer_ui id="'t1'" form="form" instance="form.instance" resources="resources" ngfpattern="'.nii.gz'"></transfer_ui>
                            <p class="help-block" ng-if="appconf.debug">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/t1.nii.gz</p>
                        </div><!--t1-->

                        <div ng-if="appconf.inputs.dwi">
                            <h3>Diffusion</h3>
                            <h4>DWI (.nii.gz)</h4>     
                            <transfer_ui id="'dwi'" form="form" instance="form.instance" resources="resources" ngfpattern="'.nii.gz'"></transfer_ui>
                            <p class="help-block" ng-if="appconf.debug">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.nii.gz</p>

                            <h4>bvecs</h4>     
                            <transfer_ui id="'bvecs'" form="form" instance="form.instance" resources="resources" ngfpattern-dis="'.bvecs'"></transfer_ui>
                            <p class="help-block" ng-if="appconf.debug">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvecs</p>

                            <h4>bvals</h4>     
                            <transfer_ui id="'bvals'" form="form" instance="form.instance" resources="resources" ngfpattern-dis="'.bvals'"></transfer_ui>
                            <p class="help-block" ng-if="appconf.debug">Sample http://xd-login.opensciencegrid.org/scratch/hayashis/conneval/life_demo_scan1_subject1_b2000_150dirs_stanford.bvals</p>
                        </div><!--dwi-->
                    </div>
                </div><!--container-->
                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-primary" 
                        ng-disabled-dis="!form.t1 || !form.dwi || !form.bvecs || !form.bvals">Next</button>
                </div>
            </form>
        </div>

        <div class="margin30 animate-submit" ng-if="step == 'validate'">
            <form ng-submit="openpage('/submit/configure')" class="form-horizontal">
                <div class="fixed-top">
                    <h2 class="page-heading">Validate Data</h2>
                </div>
                <div class="fixed-top-under">

                    <div ng-if="!tasks.validation.products[0].results">
                        <!-- no results yet. must be running validation or failed-->
                        <div ng-if="tasks.validation.status == 'failed'">
                            <p class="alert alert-danger"><b>Validation Failed</b> {{tasks.validation.status_msg}}</p>
                        </div>

                        <div ng-if="!tasks.validation.products">
                            <h3><i style="font-size: 150%;" class="fa fa-cog fa-spin" aria-hidden="true"></i> Validating ... </h3>
                            <p class="help-block">{{tasks.validation.status_msg}}</p>
                        </div>

                        <!--<p class="help-block">We perform following validations..</p>-->
                        <div class="well" ng-if="appconf.inputs.t1">
                            <h4>For T1</h4>
                            <ul class="help-block">
                                <!--<li>All required input files are entered</li>-->
                                <li>Make sure mrinfo runs successfully on specified t1 file</li>
                                <li>Make sure t1 is 3d</li>
                                <li>Check to see t1 transformation matrix is set to identity matrix</li>
                            </ul>
                        </div>
                        <div class="well" ng-if="appconf.inputs.dwi">
                            <h4>For DWI</h4>
                            <ul class="help-block" ng-if="appconf.inputs.dwi">
                                <li>Make sure mrinfo runs successfully on specified dwi file</li>
                                <li>Make sure dwi is 4d</li>
                                <li>Raise warning if dwi transformation matrix isn't unit matrix (identity matrix)</li>

                                <li>Make sure bvecs and bvals can be read</li>
                                <li>Make sure bvecs's cols count matches dwi's 4th dimension number</li>
                                <li>Make sure bvecs has 3 rows</li>
                                <li>Make sure bvals's cols count matches dwi's 4th dimension number</li>
                                <li>Make sure bvals has 1 row</li>
                            </ul>
                        </div>
                    </div>

                    <!--has validation product!-->
                    <div ng-if="tasks.validation.products[0].results">
                        <!--display what to do-->
                        <div ng-if="tasks.validation.products[0].results.errors.length == 0">
                            <p class="alert alert-success">
                                Congratulations! Your data passed all of our checks. Please proceed.
                            </p>
                        </div>

                        <div ng-if="tasks.validation.products[0].results.errors.length > 0">
                            <p class="alert alert-danger">
                                <i class="fa fa-exclamation" aria-hidden="true"></i> Validation Failed.
                                Please go back and correct problems.
                            </p>
                        </div>

                        <!--display errors / warnings -->
                        <ul>
                            <li class="text-danger" style="padding: 10px;" 
                                ng-repeat="error in tasks.validation.products[0].results.errors">
                                {{error}}
                            </li>
                            <li class="text-warning" style="padding: 10px;" 
                                ng-repeat="warning in tasks.validation.products[0].results.warnings">
                                {{warning}}
                            </li>
                        </ul>

                        <!--display mrinfo-->
                        <div ng-if="tasks.validation.products[0].results.t1_mrinfo">
                            <h3>T1 mrinfo</h3>
                            <pre>{{tasks.validation.products[0].results.t1_mrinfo}}</pre>
                        </div>
                        <div ng-if="tasks.validation.products[0].results.dwi_mrinfo">
                            <h3>DWI mrinfo</h3>
                            <pre>{{tasks.validation.products[0].results.dwi_mrinfo}}</pre>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-warning" ng-if="!form.validated">Skip</button>
                    <button type="submit" class="btn btn-primary" ng-if="form.validated">Next</button>
                </div>
            </form>
        </div><!--margin30-->

        <div class="margin30 animate-submit" ng-if="step == 'configure'">
            <form ng-submit="openpage('/submit/submit')" class="form-horizontal">
                <div class="fixed-top">
                    <h2 class="page-heading">Configure</h2>
                </div>
                <div class="fixed-top-under">
                    <div ng-if="!isEmpty(form.config)">
                        <p class="help-block">Please modify configuration if you'd like to use non-default parameters.</p>
                    </div>
                    <div ng-if="isEmpty(form.config)">
                        <p class="">This process currently has no configuration you can specify. Please skip this step.</p>
                    </div>
                    <br>
                
                    <div ng-if="form.config.tracking">
                        <h3 style="margin-top: 0px;">Streamlines Tracking</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <b>Number of Tracks</b>
                            </div>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="form.config.tracking.fibers" required></input>
                            </div>
                            <div class="col-sm-6">
                                <p class="help-block">
                                    Set the desired number of tracks. The program will continue to generate tracks until this number of tracks have been selected and written to the output file (default is 100 for *_STREAM methods, 1000 for *_PROB methods).
                                    <code>mrtrix/streamtrack -number</code> 
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <b>Maximum Number of Tracks</b>
                            </div>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="form.config.tracking.fibers_max" required></input>
                            </div>
                            <div class="col-sm-6">
                                <p class="help-block"> 
                                    Set the maximum number of tracks to generate. The program will not generate more tracks than this number, even if the desired number of tracks hasn't yet been reached (default is 100 x number). Specifying zero for this option removes any limit - the algorithm will keep generating tracks until the number required has been reached. 
                                    <code>mrtrix/streamtrack -maxnum</code>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <b>LMAX</b>
                            </div>
                            <div class="col-sm-3">
                                <select ng-model="form.config.tracking.lmax" class="form-control" required convert-to-number>
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                    <option value="10">10</option>
                                    <option value="12">12</option>
                                </select>
                                <p class="help-block">
                                    Number of parameters required:  {{(form.config.tracking.lmax+1)*(form.config.tracking.lmax+2)/2}}
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="help-block">
                                    Maximum harmonic order for the output series. This number should be chosen such that the number of distinct DW directions used in the acquisition is greater than the number of parameters that need to be estimated. 
                                    <code>mrtrix/csdeconv -lmax</code> 
                                </p>
                            </div>
                        </div>
                    </div><!--showconf-->

                    <div ng-if="form.config.life">
                        <h3 style="margin-top: 0px;">Life</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <b>Discretization Parameter</b>
                            </div>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="form.config.life.discretization" required></input>
                            </div>
                            <div class="col-sm-6">
                                <p class="help-block">
                                    This parameter defines the resolution of the Phi tensor in describing the orientation of the fascicles in the connectome (number of orientations encoded in Phi, more specifically the size of Phi in mode 1).
                                    <code>life/feConnectomeInit</code> 
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <b>Number of Iteration</b>
                            </div>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="form.config.life.num_iteration" required></input>
                            </div>
                            <div class="col-sm-6">
                                <p class="help-block">
                                    Number of iteration for montecarlo optimization of connectome weights
                                    <code>life/feFitModel</code>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <!-- TODO do some validation on the config? -->
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </form>
        </div>
        <div class="margin30 animate-submit" ng-if="step == 'submit'">
            <form ng-submit="submit()" class="form-horizontal">
                <div class="fixed-top">
                    <h2 class="page-heading">Submit</h2>
                </div>
                <div class="fixed-top-under">
                    <p>We are now ready to submit your process. Please verify information below and click submit button.</p>

                    <h3>Name</h3>
                    <p><i>{{form.name}}</i></p>
                    <submitdetail detail="form"></submitdetail>
                    
                    <h3>Processing Time</h3>
                    <p>Once submitted, the process should take about a day, and you will receive a notification once all processing is completed.</p>
                </div>

                <hr>
                <div class="pull-right">
                    <button type="button" class="btn" ng-click="back()">Back</button>
                    <button type="submit" class="btn btn-primary">Submit !</button>
                </div>
            </form>
        </div>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <div class="margin30" ng-if="appconf.debug">
            <h4>Debug</h4>
            <pre>{{form|json}}</pre>
            <pre>{{tasks|json}}</pre>
        </div>
    </div>
</div>
