<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 25px;">
            <h2>Jobs</h2>
            <p class="help-block">Show all jobs that you have submitted</p>
        </div>
        <hr style="margin: 0px;">

        <div class="subbar-list">
            <div class="subbar-list-item" 
                ng-repeat="job in jobs"
                ng-class="{'active': selected_main == job}"
                ng-click="select(job)">

                <small><taskstatus status="job.status" class="pull-right"></taskstatus></small>
                <div class="list-header">{{job.desc}}</div>
                <small>
                    <time class="text-muted" style="position: relative; top: -4px;">{{job.create_date | date}}</time>
                    <p>
                        <code>dwi</code>{{job.config._form.dwi|filename}}
                        <code>t1</code>{{job.config._form.t1|filename}}
                    </p>
                </small>

            </div>
        </div><!--workflow-->

    </div><!--subbar-->
    <div class="subbar-content">
        <div class="margin30" ng-if="!selected_main">
            <br>
            <p class="alert alert-info">Please select a job</p>
        </div>
        <div class="margin30" ng-if="selected_main">
            <div class="fixed-top container" style="padding-left: 455px">
                <h2>
                    <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete()"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;

                    <span class="pull-right" ng-class="{'text-muted':!selected_app.locked}">
                        <button type="button" class="btn" ng-model="selected_app.locked">
                            <i class="fa fa-play" aria-hidden="true"></i> Stop
                        </button>
                    </span>
                </h2>
                <h2 class="page-heading">{{selected_main.desc}}</h2>
            </div>  
            <div class="workflow" style="padding-top: 110px;">
                <div class="well">
                    <submitdetail detail="selected_main.config._form"></submitdetail>
                </div>

                <div class="workflow-item" ng-repeat="task in selected">
                    <div class="item-header"><span class="item-header-badge">{{$index+1}}</span> {{task.name}}</div>
                    <p class="workflow-detail">
                        <button class="btn btn-xs pull-right" 
                            ng-if="!task.show_output" 
                            ng-click="task.show_output = true">
                            <i class="fa fa-caret-right" aria-hidden="true"></i> Raw Outputs
                        </button>
                        <h5 ng-click="show_progress(task)">
                            <taskstatus status="task.status"></taskstatus><span class="label label-default">{{task.status_msg}}</span>
                        </h5>
                        <div ng-switch="task.name">
                            <div ng-switch-when="freesurfer">
                                <p class="help-block">Subdivide the brain into major tissue and anatomical regions using FreeSurfer (10 h compute time).</p>
                            </div>
                            <div ng-switch-when="neuro-tracking">
                                <p class="help-block">Tracking white matter fascicles (1 h compute time).</p>
                            </div>
                            <div ng-switch-when="life">
                                <p class="help-block">Evaluating white matter fascicles and removing false alarms (5 h compute time).</p>
                                <lifeplot task="task"></lifeplot>
                                <!--
                                <div id="plot_life1" style="width:700px;height:300px;"></div>
                                <div id="plot_life2" style="width:700px;height:300px;"></div>
                                --> 
                            </div>
                            <div ng-switch-when="connectome-comparison">
                                <p class="help-block">Compare connectome properties generated with the data provided with those stored in the data base (10 minutes compute time).</p>
                                <comparisonplot task="task"></comparisonplot>
                            </div>
                            <div ng-switch-default>
                                <p class="help-block">Unknown task..</p>
                            </div>
                            <sca-product-raw ng-if="task.show_output" taskid="task._id"></sca-product-raw>
                        </div>
                    </p>
                </div><!--workflow-item-->
            </div><!--workflow-->
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <h4>Debug</h4>
            <div class="task" ng-repeat="task in selected">
                <pre>{{task|json}}</pre>
            </div>
        </div><!--magin30-->
    </div><!--subbar-->
</div><!--sca-sidebbar-page-->
