<ng-include src="'t/sidebar.html'"></ng-include>
<div class="sca-sidebar-page">
    <div class="subbar">
        <div style="padding-left: 20px; margin-bottom: 10px;">
            <h2>Submitted Processes</h2>
            <p class="help-block">Shows all processes you have submitted previously</p>
            <br>
            <div class="btn-group pull-right" style="left: -20px;top: -5px;">
                <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                <li><a href>Project ABC</a></li>
                <li><a href>Project DEF</a></li>
                <li><a href>Project AAA</a></li>
                <li role="separator" class="divider"></li>
                <li><a href>Separated link</a></li>
                </ul>
            </div>
            <span class="text-muted">{{instances.length}} Processes</span>
        </div>
        <hr style="margin: 0px;">

        <div class="subbar-list">
            <p class="alert alert-info" ng-if="instances.length == 0">Please submit an new evaluation.</p>
            <div class="subbar-list-item" 
                ng-repeat="instance in instances"
                ng-class="{'active': selected == instance}"
                ng-click="select(instance)">

                <!--<taskstatus status="instance.status" class="pull-right"></taskstatus>-->
                <div class="list-header">{{instance.name}}</div>
                <small>
                    <time class="text-muted" style="position: relative; top: -4px;">{{instance.create_date | date}}</time>
                    <p>
                        <code>dwi</code>{{instance.config._form.dwi|filename}}
                        <code>t1</code>{{instance.config._form.t1|filename}}
                        <!--{{instance.desc}}-->
                    </p>
                </small>
            </div>
        </div><!--workflow-->

    </div><!--subbar-->
    <div class="subbar-content">
        <div class="margin30" ng-if="selected">
            <div class="fixed-top">
                <h2 class="pull-right">
                    <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete()"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                </h2>
                <h2 class="page-heading">{{selected.name}}</h2>
            </div>  
            <div style="padding-top: 70px;">
                <div class="pull-right text-muted" title="Submitted Date">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <time>{{selected.create_date | date:'medium'}}</time>
                </div>
                <div ng-if="instance_status == 'requested' || instance_status == 'running'">
                    <h3 class="text-info" style="margin-top: 0px;"><strong><i style="font-size: 150%;" class="fa fa-cog fa-spin" aria-hidden="true"></i> Processing ...</strong></h3>
                    <p class="alert bg-info">
                        The process should take anywhere between 10 - 24 hours depending on the availability of computing resources and the size of your input data. You may close this page and we will send you an email once the processing is completed.</p>
                </div>
                <div ng-if="instance_status == 'failed'">
                    <h3 class="text-danger"><strong>Processing Failed</strong></h3>
                    <p class="alert bg-danger">Sorry! Please contact the support team for more information.</p>
                </div>
                <div ng-if="taskbyname['connectome-comparison'].status == 'finished'">
                    <!--<h3 class="text-success"><strong>Finished!</strong></h3>-->
                    <comparisonplot task="taskbyname['connectome-comparison']"></comparisonplot>
                </div>

                <div class="workflow">
                    <p><!--placeholder-->&nbsp;</p>
                    <div class="workflow-item" ng-repeat="task in tasks">
                        <div class="item-header item-header-status" ng-class="{
                            'item-header-status-failed': task.status == 'failed',
                            'item-header-status-finished': task.status == 'finished',
                            'item-header-status-running': task.status == 'running'  }">
                            <span class="item-header-badge">{{$index+1}}</span> 
                            <div class="item-header-addon">
                                <span class="label label-default item-header-task"> {{task.name}}</span><span class="label label-default item-header-status">
                                    <!--<strong>{{task.status}}</strong>-->
                                    <i ng-if="task.status == 'running'" class="fa fa-cog fa-spin text-muted" aria-hidden="true"></i>
                                    <small>{{task.status_msg|cut:true:130:'...'}}</small>
                                </span>
                            </div>
                        </div>

                        <!--task specific details-->
                        <div ng-switch="task.name">
                            <div ng-switch-when="input">
                                <p class="help-block">Organize all your input files</p>
                                <div ng-if="task.status == 'finished'">
                                    <!--nothing to show for now-->
                                </div>
                            </div>
                            <div ng-switch-when="align">
                                <p class="help-block">Align brains(t1) to the AC-PC plane by guessing their location given MNI coordinates</p>
                                <div ng-if="task.status == 'finished'">
                                    <!--nothing to show for now-->
                                </div>
                            </div>
                            <div ng-switch-when="dtiinit">
                                <p class="help-block">Perform various preprocessing using vistasoft/mrDiffusion/dtiInit</p>
                                <div ng-if="task.status == 'finished'">
                                    <a style="cursor: pointer;" ng-if="!task.show" ng-click="task.show = true">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Show dtiInit Plots</small>
                                    </a>
                                    <a style="cursor: pointer;" ng-if="task.show" ng-click="task.show = false">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Hide dtiInit Plots</small>
                                    </a>
                                    <dtiinitplot ng-if="task.show" task="task"></dtiinitplot>
                                </div>
                            </div>
                            <div ng-switch-when="freesurfer">
                                <p class="help-block">Subdivide the brain into major tissue and anatomical regions using FreeSurfer (2 to 10h compute time).</p>

                                <div ng-if="task.status == 'finished'">
                                    <a style="cursor: pointer;" ng-if="!task.show_vtk" ng-click="task.show_vtk = true">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Show 3D Model (lh/rh.piel / .vtk)</small>
                                    </a>
                                    <a style="cursor: pointer;" ng-if="task.show_vtk" ng-click="task.show_vtk = false">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Hide 3D Model (lh/rh.piel / .vtk)</small>
                                    </a>
                                    <div class="row" ng-if="task.show_vtk">
                                    <div class="col-lg-6">
                                        <h4>Left Hemisphere</h4>
                                        <vtkview resourceid="task.resource_id" 
                                            url="task.instance_id+'/'+task._id+'/lh.10.vtk'"></vtkview>
                                    </div>
                                    <div class="col-lg-6">
                                        <h4>Right Hemishpere</h4>
                                        <vtkview resourceid="task.resource_id" 
                                            url="task.instance_id+'/'+task._id+'/rh.10.vtk'"></vtkview>
                                    </div>
                                    </div><!--row-->
                                </div>
                            </div>
                            <div ng-switch-when="neuro-tracking">
                                <p class="help-block">Tracking white matter fascicles (1 h compute time).</p>
                                <div ng-if="task.status == 'finished'">
                                    <!--nothing to show for now-->
                                </div>
                            </div>
                            <div ng-switch-when="life">
                                <p class="help-block">Evaluating white matter fascicles and removing false alarms (5 h compute time).</p>
                                <div ng-if="task.status == 'finished'">
                                    <a style="cursor: pointer;" ng-if="!task.show_lifeplot" ng-click="task.show_lifeplot = true">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Show Life Plots</small>
                                    </a>
                                    <a style="cursor: pointer;" ng-if="task.show_lifeplot" ng-click="task.show_lifeplot = false">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Hide Life Plots</small>
                                    </a>
                                    <lifeplot ng-if="task.show_lifeplot" task="task"></lifeplot>
                                </div>
                            </div>
                            <div ng-switch-when="afq">
                                <p class="help-block">Generate tracts segments from fe structure and dt6</p>
                                <div ng-if="task.status == 'finished'">
                                    <a style="cursor: pointer;" ng-if="!task.show_tracts" ng-click="task.show_tracts = true">
                                        <small><i class="fa fa-caret-right" aria-hidden="true"></i> Show 3D Tracts (below)</small>
                                    </a>
                                    <a style="cursor: pointer;" ng-if="task.show_tracts" ng-click="task.show_tracts = false">
                                        <small><i class="fa fa-caret-down" aria-hidden="true"></i> Hide 3D Tracts (below)</small>
                                    </a>
                                </div>
                            </div>
                            <div ng-switch-when="connectome-comparison">
                                <p class="help-block">Compare connectome properties generated with the data provided with those stored in the data base (10 minutes compute time).</p>
                                <div ng-if="task.status == 'finished' && tasks.freesurfer.status == 'finished'">
                                    <!--nothing to show for now-->
                                </div>
                            </div>
                            <div ng-switch-default>
                                <p class="help-block">Behind the scene task..</p>
                            </div>
                        </div><!--task.name switch-->

                        <a style="cursor: pointer;" ng-if="!task.show_output" ng-click="task.show_output = true">
                            <small><i class="fa fa-caret-right" aria-hidden="true"></i> Show Raw Outputs</small>
                        </a>
                        <a style="cursor: pointer;" ng-if="task.show_output" ng-click="task.show_output = false">
                            <small><i class="fa fa-caret-down" aria-hidden="true"></i> Hide Raw Outputs</small>
                        </a>
                        <sca-product-raw ng-if="task.show_output" taskid="task._id"></sca-product-raw>
                    </div><!--detail/ng-repeast workflow-item-->

                    <tractsview ng-if="taskbyname.afq.show_tracts" task="taskbyname.afq" freesurfer="taskbyname.freesurfer" afq="taskbyname.afq"></tractsview>

                </div><!--workflow-->

                <hr>
                <submitdetail detail="selected.config._form"></submitdetail>

            </div><!--workflow-->

            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
            <div ng-if="appconf.debug">
                <h4>Debug</h4>
                <pre>{{taskbyname|json}}</pre>
            </div>
        </div><!--magin30-->
    </div><!--subbar-content-->
</div><!--sca-sidebbar-page-->
