<div class="row" ng-if="!form.processing[id]">
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="form[id+'_url']" placeholder="Enter URL"></input>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="download(form[id+'_url'], id)" ng-disabled="!form[id+'_url']">Transfer</button>
            </span>
        </div>
    </div>
    <div class="col-md-1">
        <span class="text-muted">Or</span>
    </div>
    <div class="col-md-3">
        <button type="file" class="btn btn-default"
            ngf-pattern="ngfpattern" 
            ngf-select="upload($file, id)"
            ngf-max-size="2GB">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload
        </button>
        <!--
        <p class="alert alert-warning" ng-repeat="file in form.invalidFiles">Invalid File {{file.$errorMessages}}</p>
        -->
    </div>
</div><!--row-->
<div ng-if="form.processing[id]">
    <div class="pull-right" ng-click="remove(id)" style="margin-right: 14px; margin-top: 13px; cursor: pointer;">
        <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
    <uploading_status detail="form.processing[id]"></uploading_status>
</div>
