<div class="file-upload" ng-if="detail">
    <!--transfer--> 
    <div ng-if="detail.url" style="padding: 5px 20px;">
        <h4>
            <i class="fa fa-cog fa-spin" aria-hidden="true"></i> 
            <span>Transferring <small class="text-muted"></small></span> 
            <span class="help-block">{{detail.url}}</span>
        </h4>
    </div>

    <!--uploading--> 
    <div ng-if="detail.progress"
        style="padding: 5px 20px; background: linear-gradient(to right, #ddd {{detail.progress*100|number}}%, white {{detail.progress*100|number}}%);">
        <h4>
            <i class="fa fa-cog fa-spin" aria-hidden="true"></i> 
            <span ng-if="detail.progress != 1">Uploading</span> 
            <span ng-if="detail.progress == 1">Finalizing Upload</span> 
            <span class="pull-right">{{detail.progress*100|number:1}}%</span>
            <span class="help-block">{{detail.name}}</span>
        </h4>
    </div>

    <h4 class="bg-success" style="padding: 20px 20px; margin: 0px;" ng-if="detail.done">
        <i class="fa fa-check" aria-hidden="true"></i> {{detail.name}}</h4>
    </h4>
</div>
